h1 {
    color: white;
    text-align: center;
    font-family: 'Mali', cursive,"Helvetica","Arial",sans-serif;;
}

.box {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
}