.timeline-page {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.timeline-container {
  width: 200%;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: center;
}

.card-container {
  width: 100em;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
