.timeline-page {
  width: 95%;
  margin: 15px auto 15px auto;
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 5px solid #66acea;
  border-radius: 30px;
  background-color: #0e1c26;
}

.game-header {
  position: absolute;
  margin-top: 5px;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}

.timeline-container {
  width: 100%;
  height: 230px;
  position: relative;
  top: 90px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
}

.card-container {
  width: 94%;
  height: 35%;
  position: absolute;
  bottom: 20px;
  overflow-x: scroll;
}

.card-scroll-box {
  width: 120em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
